# Environment variables
.env

# Optional: ignore all env files
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
env/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db